/*here is where the body styles start*/
body {
    background-color: #ccc;
}

.container {
    //  margin-top: 0; 
    font-family: 'Recursive', sans-serif;
    width: 1000px;
    margin: 0 auto;
    background-color:white;
    border: 1px solid black;
    padding: .5em 2em;
}

section {
    float: left;
    width: 800PX;
    padding-bottom: 1.5em;
    
}
ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}
a {
    
    font-weight: bold;
    color: $bigtitle;
    
}
a:hover {
    color: rgb(4, 177, 208);
}

table {
    border-collapse: collapse;
    margin: 70px 0;
    font-size: 0.9em;
    font-family: 'Righteous', cursive;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 100px;
    background-color:#add8e6;
    color: $bigtitle;
    thead tr {
        background-color: blue;
        color: #ffffff;
        text-align: left;
    }
    td, th {
        border: thin solid $bigtitle;
        // padding: .2em .5em .2em .5em;
        vertical-align: top;
        text-align: left;
        padding: 12px 15px;
        
    }
    tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    tbody tr:last-of-type {
        border-bottom: 2px solid blue;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: red;
    }
}

// inheritance
#admintable{
    @extend table;
    background-color: lightgrey;
    color:grey;
    margin-top: 25px;
}

.searchtable{
    @extend table;
   margin: 150x;;
    
}


form {
    margin: 0;
}
br {
    clear: left;
}

/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}
.margin_top_increase {
	margin-top: 1em;	
}

#add_record_form {
    margin: .5em 0 1em;
}
#add_record_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_record_form input {
    float: left;
}
#add_record_form input[text] {
    width: 15em;
}

h2{
    color: $bigtitle;
    font-size: 24px;
    
}
h3{
    color: red;
    margin-left: 50px;
    text-align: left;
}
.adminlinks{
    @extend aside;
    a{
        color: red;
        

    }
    a:hover {
        color: $bigtitle;
    }
    
}

.searcherror{
    padding-top: 10px;
    margin-top: 10px;
    color: red;
    
}

#searchid{
    margin-top: 50px;
   
}

.admnbutton{
    margin: 15px;;
    float: right;
}
