/* here is where the fonts styles start*/
h1 {
    font-size: 160%;
    margin: 0;
    padding: .5em 0 .25em;
    text-align: center;
    
}
h2 {
    font-size: 200%;
    margin: 0;
    padding: .25em 0 .5em;
   
}
th{
    font-size: 80%;
}
h1,h2,h3,h4{
    font-family: 'Righteous', cursive;
}
