/* here is where the header styles start*/

header {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid $blue;
    background-color:$blue;
    

    
    h1 {
        margin: 0;
        padding: .5em 0;
        color:$title;
    }
}
 
nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding-bottom: 0.5em;
        }
    }
    
}
