/* here is where the sidebar styles start*/

aside {
    margin-top: 100px;
    float: left;
    width: 153px;
    h2{
        color: red;
    }
}

#indexaside{
    @extend aside;
    padding-top: 110px;;
}
