/* here is where the variables start*/
/* here is where the fonts styles start*/
h1 {
  font-size: 160%;
  margin: 0;
  padding: .5em 0 .25em;
  text-align: center;
}

h2 {
  font-size: 200%;
  margin: 0;
  padding: .25em 0 .5em;
}

th {
  font-size: 80%;
}

h1, h2, h3, h4 {
  font-family: 'Righteous', cursive;
}

/* here is where the header styles start*/
header {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #B2CFE7;
  background-color: #B2CFE7;
}

header h1 {
  margin: 0;
  padding: .5em 0;
  color: #0071D4;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding-bottom: 0.5em;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  padding: 2px;
  padding-left: 150px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*here is where the body styles start*/
body {
  background-color: #ccc;
}

.container {
  font-family: 'Recursive', sans-serif;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  padding: .5em 2em;
}

section {
  float: left;
  width: 800PX;
  padding-bottom: 1.5em;
}

ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 2.5em;
}

li {
  margin: 0;
  padding: 0;
}

a {
  font-weight: bold;
  color: #004D91;
}

a:hover {
  color: #04b1d0;
}

table, #admintable, .searchtable {
  border-collapse: collapse;
  margin: 70px 0;
  font-size: 0.9em;
  font-family: 'Righteous', cursive;
  min-width: 400px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 100px;
  background-color: #add8e6;
  color: #004D91;
}

table thead tr, #admintable thead tr, .searchtable thead tr {
  background-color: blue;
  color: #ffffff;
  text-align: left;
}

table td, #admintable td, .searchtable td, table th, #admintable th, .searchtable th {
  border: thin solid #004D91;
  vertical-align: top;
  text-align: left;
  padding: 12px 15px;
}

table tbody tr, #admintable tbody tr, .searchtable tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even), #admintable tbody tr:nth-of-type(even), .searchtable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type, #admintable tbody tr:last-of-type, .searchtable tbody tr:last-of-type {
  border-bottom: 2px solid blue;
}

table tbody tr.active-row, #admintable tbody tr.active-row, .searchtable tbody tr.active-row {
  font-weight: bold;
  color: red;
}

#admintable {
  background-color: lightgrey;
  color: grey;
  margin-top: 25px;
}

.searchtable {
  margin: 150x;
}

form {
  margin: 0;
}

br {
  clear: left;
}

/* the styles for classes */
.right {
  text-align: right;
}

.last_paragraph {
  margin-bottom: 2em;
}

.margin_top_increase {
  margin-top: 1em;
}

#add_record_form {
  margin: .5em 0 1em;
}

#add_record_form label {
  width: 6em;
  padding-right: 1em;
  padding-bottom: .5em;
  float: left;
}

#add_record_form input {
  float: left;
}

#add_record_form input[text] {
  width: 15em;
}

h2 {
  color: #004D91;
  font-size: 24px;
}

h3 {
  color: red;
  margin-left: 50px;
  text-align: left;
}

.adminlinks a {
  color: red;
}

.adminlinks a:hover {
  color: #004D91;
}

.searcherror {
  padding-top: 10px;
  margin-top: 10px;
  color: red;
}

#searchid {
  margin-top: 50px;
}

.admnbutton {
  margin: 15px;
  float: right;
}

.contactform1 {
  margin-left: 50px;
}

.loginform1 {
  margin-left: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.searchform1 {
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 50px;
}

/* here is where the sidebar styles start*/
aside, .adminlinks, #indexaside {
  margin-top: 100px;
  float: left;
  width: 153px;
}

aside h2, .adminlinks h2, #indexaside h2 {
  color: red;
}

#indexaside {
  padding-top: 110px;
}

/* here is where the footer styles start*/
footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid #004D91;
  background-color: #B2CFE7;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
  color: white;
}
/*# sourceMappingURL=mystyle.css.map */